{
    "name": "oauth2",
    "version": "0.0.1",

    "providers": {
        "google": {
            "id": "491868248662-vtsme3km3i6plm2m0bvcnve2at8tno8e.apps.googleusercontent.com",
            "secret": "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"
        },
        "github": {
            "id": "",
            "secret": ""
        }
    }
}
